<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Todo supply a title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
       <h2>PAGINA DE INICIO</h2>

       <h4>Lista de usuarios</h4>

       <hr>
       <div th:if="${users != null and !users.empty}">
         <table border="1">
           <tr>
             <th>ID</th>
             <th>Nombre</th>
             <th>Apellido</th>
             <th>Role</th>
             <th>Email</th>
             <th>Telefono</th>
             <th>Status</th>
             <th>Creado</th>
           </tr>
           <tr th:each="user : ${users}">
             <td th:text="${user.id}"></td>
             <td th:text="${user.name}"></td>
             <td th:text="${user.last_name}"></td>
             <td th:text="${user.role}"></td>
             <td th:text="${user.email}"></td>
             <td th:text="${user.phone}"></td>
             <td th:text="${user.status}"></td>
             <td th:text="${user.created_at}"></td>
           </tr>
         </table>
       </div>
       <div th:if="${users == null or users.empty}">
        La lista esta vacia
       </div>
     
    </body>
</html>